@import '../../../App.scss';

.skill {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 100px;
}

.skillContainer {
  padding-top: 60px;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  max-width: 900px;
}

.skillName {
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: white;
}

.skillImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
