@import "../../../App.scss";

.serviceContainer {
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 90%;
  max-width: 900px;
  font-family: "Fredoka One", cursive;
}

.serviceTitle {
  font-size: 22px;
  padding-bottom: 10px;
}

.serviceDiscription {
  font-size: 13px;
  padding-bottom: 15px;
}

.serviceUrl {
  font-size: 13px;
  color: $primary;
}
