@import "../../../App.scss";

.serviceContainer {
  border-radius: 20px;
  padding-top: 60px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 90%;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.1);
}

.serviceTitle {
  font-size: 21px;
  padding-bottom: 25px;
}

.serviceDiscription {
  font-size: 14px;
  margin-bottom: 20px;
  min-height: 80px;
}

.serviceUrl {
  font-size: 15px;
  color: $primary;
}

.columnContainer {
  text-align: left;
}

.imageServiceContainer {
  text-align: center;
}

.serviceImage {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
