.marker {
  background: linear-gradient(transparent 0%, transparent 60%, #FFE2E9 60%, #FFE2E9 100%);
  font-weight: 600;
  color: #2a262d;
}

.blue {
  background: linear-gradient(transparent 0%, transparent 60%, #A9EAF2 60%, #A9EAF2 100%);
  font-weight: 600;
  color: #2a262d;
}

.down-button {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  text-align: center;
  animation-name: ButtonVisible;
  animation-duration: 2.5s;
}

.lead-to-content {
  width: 250px;
  border-radius: 5px;
  background: #FFAF00;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border: solid 3px #eda50b;
  border-top: solid 2px #eda50b;
  border-bottom: solid 4px #eda50b;
}

.skip-to-content {
  width: 100px;
  border-radius: 5px;
  background: #FFAF00;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  border: solid 2px #eda50b;
  border-top: solid 1px #eda50b;
  border-bottom: solid 3px #eda50b;
  animation-name: ButtonVisible;
  animation-duration: 2.5s;
}

@keyframes ButtonVisible {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  70% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}