.marker {
  background: linear-gradient(transparent 0%, transparent 60%, #FFE2E9 60%, #FFE2E9 100%);
  font-weight: 600;
  color: #2a262d;
}

.blue {
  background: linear-gradient(transparent 0%, transparent 60%, #A9EAF2 60%, #A9EAF2 100%);
  font-weight: 600;
  color: #2a262d;
}

@keyframes ButtonVisible {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  70% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}