body {
  margin: 0;
  padding: 0;
  color: #6d6c6a;
  font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1 {
  font-size: 23px; 
}

h2 {
  font-size: 22px; 
}

h3 {
  font-size: 17px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px; 
}

a {
  color: #fd3365;
  font-weight: normal; 
}

@media (min-width: 700px) {
  h1 {
    font-size: 24px; 
  }
}