body {
  margin: 0;
  padding: 0;
  font-size: 14px; 
  color: #6d6c6a;
  font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1 {
  font-size: 23px; 
}

h2 {
  font-size: 22px; 
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 14px; 
}

a {
  color: #F92771;
  font-weight: normal; 
}