.small-jumbo {
  background: linear-gradient(90deg, #2abcd6, #2ad6b6);
}

.main-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.name-container {
  margin-top: 80px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.jumbotron-title {
  color: #6D6C6A;
  animation-name: Visible;
  animation-duration: 1.5s;
}

.portfolio {
  color: #6D6C6A;
  animation-name: Portfolio;
  animation-duration: 2.5s;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.slide-content {
  font-size: 16px;
}

@media (min-width: 700px) {
  .portfolio {
    font-size: 60px; 
  }
  .name-container {
    font-size: 40px; 
  }
  .slide-content {
    font-size: 18px;
  }
}

@keyframes Visible {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Portfolio {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

