@import '../../../App.scss';

.content {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0;
}

.contentTitle {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

.contentSubTitle {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  padding: 30px;
}

.contentBorder {
  height: 1.5px;
  width: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $primary;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
