@import "../../../App.scss";

.content {
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
}

.contentTitle {
  font-family: "Fredoka One", cursive;
  font-size: 40px;
}

.contentSubTitle {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  padding: 30px;
}

.contentBorder {
  height: 1.5px;
  width: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $primary;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profileColor {
  background-color: $lightPink;
}

.productColor {
  background-color: $lightRedPurple;
}

.eigineeringColor {
  background-color: $lightBluePurple;
}

.designColor {
  background-color: $lightBlueGreen;
}

.writingColor {
  background-color: $lightYellowGreen;
}

.primaryColor {
  background-color: $primary;
}
