$primary: #fff;
$secondary: #646464;

$lightPink: #ffc3d7;
$lightBluePurple: #c3aafa;
$lightBlueGreen: #89dad0;
$lightYellowGreen: #b0d0a1;
$lightRedPurple: #ebaeed;

$backgroundPink: #ffadc8;
$backgroundRedPurple: #310c32;

.root {
  width: 100%;
  height: 100%;
  margin: 0;
  color: $primary;
  background-color: $backgroundPink;
}

.pink {
  background-color: $backgroundPink;
}

.anim {
  animation: pinknimation 0.4s ease;
}

.redPurple {
  background-color: $backgroundRedPurple;
  animation: redPurpleAnimation 0.4s ease;
}

@keyframes pinknimation {
  0% {
    background-color: $backgroundRedPurple;
  }

  100% {
    background-color: $backgroundPink;
  }
}

@keyframes redPurpleAnimation {
  0% {
    background-color: $backgroundPink;
  }

  100% {
    background-color: $backgroundRedPurple;
  }
}
