$primary: #fff;

$lightRedPurple: #e4b9eb;
$lightBluePurple: #b2c4f0;
$lightBlueGreen: #99dcd4;
$lightYellowGreen: #b0d0a1;

$backgroundPink: #ffadc8;
$backgroundRedPurple: #d5a6dd;
$backgroundBluePurple: #a8bae7;
$backgroundBlueGreen: #8ed6cd;
$backgroundYellowGreen: #a7c798;

.root {
  width: 100%;
  height: 5000px;
  margin: 0;
  color: $primary;
  background-color: $backgroundPink;
}

.pink {
  background-color: $backgroundPink;
}

.redPurple {
  background-color: $backgroundRedPurple;
}

.bluePurple {
  background-color: $backgroundBluePurple;
}

.blueGreen {
  background-color: $backgroundBlueGreen;
}

.yellowGreen {
  background-color: $backgroundYellowGreen;
}

.primary {
  background-color: $primary;
}
