body {
  margin: 0;
  padding: 0;
  color: #6d6c6a;
  font-family: 'Quicksand', 'Raleway', 'Montserrat', helvetica, arial, 'hiragino kaku gothic pro', 'ms pgothic', sans-serif; 
}

h1 {
  font-size: 29px; 
}

h2 {
  font-size: 19px; 
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px; 
}

a {
  color: #313131;
  font-weight: normal; 
}

@media (min-width: 700px) {
  h1 {
    font-size: 35px; 
  }
}