body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', 'ms pgothic', sans-serif;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 45px;
  font-family: 'Playfair Display SC','hiragino kaku gothic pro','ms pgothic', serif;
}

h3 {
  font-family: 'hiragino kaku gothic pro','ms pgothic', 'Playfair Display SC', serif;
}

p {
    font-family: helvetica, arial, 'hiragino kaku gothic pro', 'ms pgothic', sans-serif;
    font-size: 15px;
}

a {
  color: rgb(235, 84, 129);
}